
/*  GLOBAL PAGE SETTINGS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}
/*  /GLOBAL PAGE SETTINGS  */

/*  HEADER  */
header {
    width: 100%;
    background-color: rgb(255, 123, 0);
    box-shadow: 0 2px rgb(170, 170, 170);
    position: fixed;
    z-index: 1;
    top: 0;
}

.logo-header {
    text-align: center;
}

.logo-header > img {
    width: 20%;
}

/*  /HEADER  */

/*  FOOTER  */
footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.socials-list > a {
    margin-right: 2px;
}
/*  /FOOTER  */




a {
    text-decoration: none;
}

li {
    display: inline;
    list-style-type: none;
    font-size: 13px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.col-33 {
    width: calc(100% / 3);
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-33-img {
    width: calc(100% / 3 - 10px);
    position: relative;
}

.align-end {
    text-align: end;
}

.wrap {
    flex-wrap: wrap;
    gap: 10px;
}

.object {
    width: 100%;
    object-fit: contain;
}

.object-hidden {
    display: none;
}

.object-hidden:hover {
    display: block;
    width: 100%;
    object-fit: contain;
}

.object:hover {
    display: none;
}

.margin-top {
    margin-top: 80px;
}

.red-text {
    color: red;
}

.text-line {
    text-decoration: line-through;
}

.white-text {
    color: white;
    margin-bottom: 5px;
}

li > a {
    margin-right: 15px;
}

.font-size {
    font-size: 11px;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-white {
    background-color: white;
}

.boldness {
    font-weight: bold;
}

.positioned-boxes {
    position: absolute;
    bottom: 100px;
    text-align: center;
    padding: 5px;
    color: white;
}

.left-position {
    left: 55px;
}

.right-position {
    right: 0;
}

.top-position {
    top: 5px;
}

.heart {
    position: absolute;
    width: 5%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: none;
}

.heart:hover {
    color: red;
    cursor: pointer;
}



